<header>
  <a href="{{ .Site.BaseURL }}" id="logo-and-title">
    {{ $logoUrl := index .Site.Params "logoUrl" }}
    <div class="site-logo">
     <img class="site-logo" src="{{ .Site.BaseURL }}favicon.ico" />
    </div>
    <div class="site-title">{{.Site.Title}}</div>
  </a>
  <div class="headerlinks">
  <a href="{{ .Site.BaseURL }}notes_by_calendar">Notes by calendar</a>
  <a href="{{ .Site.BaseURL }}notes_by_category">Notes by category</a>
  </div>
  {{/*  {{- partial "search-form.html" . -}}  */}}
</header>
